html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F5F5DC;
    line-height: 1.65;
    padding-bottom: 1000px;
}

.container-satu {
    width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.sidebar-satu {
    order: 1;
    flex: 1;
    background-color: #B2EBF2;
    padding: 10px;
    border-radius: 8px;
}

.kolom-utama {
    order: 2;
    flex: 2;
    background-color: #B2EBF2;
    padding: 10px;
    border-radius: 8px;
}

.sidebar-dua {
    order: 3;
    flex: 1;
    background-color: #B2EBF2;
    padding: 10px;
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
